.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-image: url("https://i.imgur.com/AcZDktr.jpg");
  background-repeat: none;
  background-size: cover;
  background-blend-mode: darken;
  color: whitesmoke;
  object-position: center center;
}

.navbar {
  justify-content: space-between;
  align-items: center;
 font-size: 12px;
  padding: 3em;
  color: white;
  min-height: 2em;
}

.navbar a {
  text-decoration: none;
  position: center;
  color: white;
  padding-left: 20px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10 15px;
  justify-content: center;
  object-position: center center;
}

.linky{
  
}
.linky::after {
  position: absolute;
  content: " ";
  background-color: #e09f3e;
  width: 75%;
  height: 5px;
  left: 9px;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.linky:hover::after {
  transform: scaleX(1);
}

.delete-btn{
  padding: 4px 8px;
  background: #f2e9e4;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
}

.delete-btn:hover{
  background-color: gray;
  transition: 0.1s;
  color: white;
  }

.update-btn{
  padding: 4px 8px;
  background: #f2e9e4;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
  }
  
.update-btn:hover{
  background-color: gray;
  transition: 0.1s;
  color: white;
    }
    

.add-btn{
  padding: 4px 8px;
  background: #f2e9e4;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
    }
    
.add-btn:hover{
  background-color: gray;
  transition: 0.1s;
  color: white;
      }

.add-tag-btn{
  padding: 4px 8px;
  background: #f2e9e4;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
      }
      
.add-tag-btn:hover{
  background-color: gray;
  transition: 0.1s;
  color: white;
        }

.link-btn{
  padding: 4px 8px;
  background: #f2e9e4;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 12px;
}
.link-btn:hover{
  background-color: gray;
  transition: 0.01s;
  color: white;
        }

.logo{
  max-width: 380px;
  min-width: 200px;
  margin: 0px 0px 0px 00px;
  padding: 0px 0px 10px 0px;
  justify-content: center;
  object-fit: contain;
}

.tagBox{
  display: flex;
  justify-content: center;
  padding: 20px; 
  width: 200px;
  justify-items: center;
}

.songDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 20px 20px 20px 20px;  */
  /* max-width: 200px; */
  justify-items: center;
  height: 200px;
  width: auto;
  overflow: auto;
  padding-bottom: 30px;
  border-top: #f2e9e4;
}

.songDivAll{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0px 800px 0px 800px;  */
 
  justify-items: center;
   /* max-width: 800px; */
  /* height: 200px; */
  width: auto;
  /* overflow: auto; */
  padding-bottom: 30px;
  /* padding-left: 150px; */
  border-top: #f2e9e4;
}

.songBox{
  /* background-color: aqua; */
  /* display: flex; */
  max-width: 300px;
  padding: 0px 10px 0px 10px;
}

.songBoxAll{
  /* background-color: aqua; */
  /* display: flex; */
  max-width: 300px;
  padding: 0px 20px 0px 20px;
}

.tagBox:hover{
  opacity: 10;
}

.tag-img{
  max-width: 200px;
  max-height: 200px;
  /* border: black; */
  flex-wrap: wrap;
}

.composerPhoto{
  max-width: 150px;
}

.tagDivide{
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid black; */
}

.tagLinky{
   justify-content: space-between;
   align-items: center;
  font-size: px;
   padding: 3em;
   color: white;
   min-height: 2em;
  text-decoration: none;
  position: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  justify-content: center;
  object-position: center center;
}
.tagLinkyFilm{
  /* justify-content: space-between; */
  /* align-items: center; */
 /* font-size: px; */
  /* padding: 3em; */
  color: white;
  /* min-height: 2em; */
 text-decoration: none;
 position: center;
 color: white;
 font-size: 20px;
 font-weight: 400;
 letter-spacing: 0.5px;
 justify-content: center;
 object-position: center center;
}

.tagHeader{
  padding: 0px 0px 10px 0px;
}

.soundcloudPlayer{
/* display: flex; */
/* position: relative; */
/* justify-content: center; */
/* background: none; */
/* target: blank; */
padding: 10px 0px 0px 0px;
}

.soundcloudPlayerFilm{
  display: flex;
  /* position: relative; */
  /* justify-content: center; */
  /* background: none; */
  /* target: blank; */
  padding: 10px 10px 10px 10px;
  }

.container-grid{
  height: 60vh;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
}

.filmPage{
display: flex;
justify-content: center;
/* max-width: 300px; */
}

.filmPlayer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.songList{
  /* display: flex; */
  /* justify-content: center; */
  /* display: flex; */
  flex-wrap: wrap;
  /* align-items: flex-start; */padding: 10px 10px 10px 10px;
}

.mediaPlayerBox{
  display: flex;
  justify-content: center;
  object-fit: scale-down;
}

.filmDiv{
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 300px; */
}
.film-img{
  max-width: 300px;
  max-height: 200px;
}

.tagLinkyHome{
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-size: px;
  padding: 2em;
  color: white;
  min-height: 1em;
 text-decoration: none;
 position: center;
 color: white;
 font-size: 20px;
 font-weight: 400;
 letter-spacing: 0.5px;
 justify-content: center;
 object-position: center center;
 /* padding-bottom: 100px; */


}

/* .songPage{
  display: flex;
  justify-content: center;
  max-width: 500px;
} */

.songList{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}